.region-navigation {
	margin-top: 19.8461em;
}

/*Drupal module Nice Menus CSS*/

ul.nice-menu {

}

ul.nice-menu,
ul.nice-menu ul {
	border: none;
	background: tranparent;
}

ul.nice-menu li.active-trail {
	background-color: #6a1d1c;
}

ul.nice-menu li {
	background-color: #922926;
	border: none;
	text-align: center;
	margin-left: .2em;
	/*background: #000;*/
}
	
ul.nice-menu li.first {
	-webkit-border-top-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
}

ul.nice-menu li.last {
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
}

ul.nice-menu li ul {
	top: 52px;
}

ul.nice-menu li ul li.last {
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

ul.nice-menu li ul li.first {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}


ul.nice-menu li a {
	display: block;
	width: 10em;
	height: 3.5em;
	text-decoration: none;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing:2px;
	color: #fff;
	margin-top: .4em;
}

ul.nice-menu li a.active {
	/* 
background: url('images/active-nav-down-arrow.png') no-repeat bottom right;
	background-position: 8em 3.2em;
 */
}

ul.nice-menu-down li.menuparent {
    background: url("arrow-down.png") no-repeat scroll right center #922926;
}
ul.nice-menu-down li:hover, ul.nice-menu-down li.menuparent:hover {
    background: url("arrow-down.png") no-repeat scroll right center #6a1d1c;
}
ul.nice-menu-down li li.menuparent {
    background: url("arrow-right.png") no-repeat scroll right center #922926;
}
ul.nice-menu-down li li.menuparent:hover {
    background: url("arrow-right.png") no-repeat scroll right center #6a1d1c;
}

ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent {
	background: url("arrow-left.png") no-repeat scroll left center #922926;
}

ul.nice-menu li.menuparent ul li {
/* 	margin-top: 2.3em; */
	margin-left: 0;
/* 
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;

	-webkit-border-bottom-left-radius: 11px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-left-radius: 11px;
	-webkit-border-bottom-right-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	border-bottom-right-radius: 11px;
 */	
	width: 10.5em;
}

#sidebar-right div#block-menu-menu-secondary-menu {
	background: none;
	margin-top: 2em;
	margin-bottom: 0;
}

div#block-menu-menu-secondary-menu ul.menu li {
	list-style: none;
}

div#block-menu-menu-secondary-menu ul.menu li a {
	display: block;
	width: 21.4em;
	padding: .5em;
	text-align: center;
	background: #922926;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	color: white;
}

div#block-menu-menu-secondary-menu ul.menu li a:hover {
	background: #6a1d1c;
}

div#block-menu-menu-secondary-menu ul.menu li.first a {
	-webkit-border-top-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
/* 
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
 */
}

div#block-menu-menu-secondary-menu ul.menu li.last a {
	-webkit-border-bottom-left-radius: 11px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-left-radius: 11px;
	/* 
-webkit-border-bottom-right-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	border-bottom-right-radius: 11px;
 */
}

#sidebar-right .menu .leaf {
	margin-left: 0;
}
